.keg {
  background: linear-gradient(#efe3f5,#91ceef);
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  padding-bottom: 10px;
}

h4, h3, p {
  font-family: fantasy;
  font-style: oblique;
}

h4 {
  margin-top: 5px;
}

h3 {
    margin-bottom: 5px;
    text-decoration: underline;
}

.keg p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.button {
  margin-top: 14px;
  display: flex;
}

button {
  background: linear-gradient(#eca0ce,#91ceee);
  color: #1f3154;
  border-radius: 20px;
  text-shadow: 1px 1px #b28eaf;
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: 340;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

button:hover {
  background: linear-gradient(#91ceee,#eca0ce);
}
