.keg {
  background: linear-gradient(#efe3f5,#91ceef);
  margin: 10px;
  color: #304b75;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background: linear-gradient(#eca0ce,#91ceee);
  color: #375585;
  border-radius: 20px; 
  text-shadow: 1px 1px #627c54;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

button:hover {
  background: linear-gradient(#91ceee,#eca0ce);
}
